/* Tags */

body {
    font-family: monospace;
    text-align: center;
    background-color: bisque;
}

h1 {
    font-family: cursive;
    font-size: 3rem;
    text-shadow: 2px 2px rgb(145, 114, 68);
}

h2 {
    background-color: white;
    opacity: 80%;
}

p {
    display: inline;
    font-family: Arial;
    font-weight: 900;
}

button {
    border: none;
    font-size: 1rem;
    margin: auto;
    padding: 10px;
}

button:hover {
    box-shadow: 0 12px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Classes */

.container {
    margin: auto;
    height: 500px;
    width: 850px;
    border: rgb(97, 56, 4) 4px solid;
    background-image: url('../images/world-map-background.png');
    background-size: cover;
    background-position: center;
}

.intro {
    margin: 100px 150px 0;
    /* display: none; */
}

.quiz {
    display: none;
    background-color: cornsilk; 
    opacity: 95%;
    margin: 70px 100px;
    height: 350px;
}

.status-bar {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.hearts {
    margin: 20px;
}

.heart {
    height: 18px;
    width: 18px;
    float: left;
    margin: 3px;
}

.status {
    color: darkolivegreen;
    margin: 20px;
}

.score-bar {
    display: inline-block;
}

.flag {
    height: 120px;
    width: 180px;
    margin-bottom: 20px;
}

.option {
    display: inline-block;
    background-color: lightsteelblue;
    width: 250px;
    margin: 7px;
    padding: 5px;
    text-align: start;
}

.option:hover {
    background-color: lightblue;
}

.result {
    display: none;
    background-color: lightsalmon;
    opacity: 95%;
    height: 300px;
    width: 250px;
    border: salmon solid;
    border-radius: 10px;
    position: absolute;
    top: 250px;
    left: 40%;
}

.display-result {
    color: sienna;
    font-size: 1.5rem;
    text-shadow: 2px 2px rgb(29, 28, 28)
}

.countryInfo {
    text-align: start;
    margin: 10px;
    height: 200px;
}

.name {
    font-size: 22px;
    font-family: fantasy;
    margin-bottom: 0;
}

.restart {
    color: darkseagreen;
    margin: 20px;
}

/* IDs */

#flag-globe {
    height: 150px;
    width: 150px;
}

#play-btn {
    opacity: 90%;
    display: block;
    color: cornsilk;
    background-color: rgb(73, 49, 18);
}

#restart:hover {
    color: olivedrab;
}

#close-btn{
    background-color: seashell;
    padding: 5px;
}


