body {
    font-family: monospace;
    text-align: center;
    background-color: bisque;
}

h1 {
    font-family: cursive;
    font-size: 3rem;
    text-shadow: 2px 2px rgb(241, 185, 100);
}

h2 {
    background-color: white;
    opacity: 80%;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container {
    margin: auto;
    height: 500px;
    width: 850px;
    border: rgb(97, 56, 4) 4px solid;
    background-image: url('https://pixabay.com/get/53e9d0444353b108feda8460da2932771037d8ec5b5676_1920.png');
    background-size: cover;
    background-position: center;
}

.intro {
    margin: 100px 150px 0;
}

#flag-globe {
    height: 150px;
    width: 150px;
}

#play-btn {
    display: block;
    padding: 10px;
    margin: auto;
    border: none;
    color: cornsilk;
    background-color: rgb(97, 68, 30);
    opacity: 90%;
    font-size: 1rem;
}

